<footer class="bg-dark text-white text-center text-lg-start mt-4">
    <div class="container p-4">
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Национальное географическое общество</h5>
                <p>
                    Национальное географическое общество занимается исследованиями и популяризацией знаний о нашей планете.
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Контакты</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="https://www.nationalgeographic.org/contact/" class="text-white">Связаться с нами</a>
                    </li>
                    <li>
                        <a href="https://www.nationalgeographic.org/about/contact/" class="text-white">Офисы и адреса</a>
                    </li>
                    <li>
                        <a href="https://www.nationalgeographic.org/about/careers/" class="text-white">Карьера</a>
                    </li>
                    <li>
                        <a href="https://www.nationalgeographic.org/about/press/" class="text-white">Пресс-центр</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Социальные сети</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="https://www.facebook.com/natgeo" class="text-white">Facebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/NatGeo" class="text-white">Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/natgeo/" class="text-white">Instagram</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/natgeo" class="text-white">YouTube</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-white" href="https://www.nationalgeographic.org/">National Geographic Society</a>
    </div>
</footer>