{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% block title %}{% endblock %}
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-3 p-3">
                <div class="text-center mb-4">
                    <img src="{% static 'main/img/Pesik.jpg' %}" alt="Пёсик" class="img-fluid rounded-circle" width="150px"/>
                    <h2 class="mt-2">DogDjango</h2>
                </div>
                {% include 'main/nav.html' %}
            </aside>
            <main class="col-md-9 p-4">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
    {% include 'main/footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>