<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link {% if active == 1 %}active{% endif %}" href="{% url 'home' %}">Главная страница</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 2 %}active{% endif %}" href="{% url 'page2' %}">Новые открытия</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 3 %}active{% endif %}" href="{% url 'plankton' %}">Планктон</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 4 %}active{% endif %}" href="{% url 'crabs' %}">Крабы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 5 %}active{% endif %}" href="{% url 'octopus' %}">Осьминоги</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 6 %}active{% endif %}" href="{% url 'bivalves' %}">Двустворчатые</a>
    </li>
</ul>