{% extends 'main/layout.html' %}
{% block title %}
<title>Польза планктона</title>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Польза планктона</h1>
    <p>Планктон играет ключевую роль в морских экосистемах и является основным источником пищи для многих морских
        организмов. Он состоит из микроскопических растений (фитопланктон) и животных (зоопланктон), которые плавают в
        толще воды.</p>
    <p>Фитопланктон является основным производителем кислорода в океанах, осуществляя фотосинтез и выделяя кислород в
        атмосферу. Он также поглощает углекислый газ, что помогает смягчить эффект глобального потепления.</p>
    <p>Зоопланктон, в свою очередь, является важным звеном в пищевой цепи, питаясь фитопланктоном и служа пищей для
        более крупных морских животных, таких как рыбы, киты и морские птицы.</p>
    <p>Планктон также играет важную роль в биогеохимических циклах океана, участвуя в переработке питательных веществ и
        органических веществ. Это способствует поддержанию здоровья морских экосистем и продуктивности океанов.</p>
    <p>Исследования показывают, что планктон может быть использован в качестве источника биоактивных соединений для
        медицины и косметологии. Эти соединения обладают антиоксидантными, противовоспалительными и антимикробными
        свойствами.</p>
    <p>Кроме того, планктон является перспективным источником биотоплива. Некоторые виды фитопланктона содержат высокие
        концентрации липидов, которые могут быть использованы для производства биодизеля.</p>
    <p>Эти и другие преимущества делают планктон важным объектом исследований и подчеркивают его значимость для
        устойчивого развития морских ресурсов и сохранения биоразнообразия океанов.</p>
</div>
{% endblock %}