body {
    background-color: #00247d; /* Темно-синий фон */
    color: #ffffff; /* Белый текст */
}

aside {
    background-color: #ffffff; /* Белый фон для боковой панели */
    color: #00247d; /* Темно-синий текст */
}

aside h2 {
    color: #cf142b; /* Красный цвет для заголовка */
}

.nav-link {
    color: #00247d; /* Темно-синий цвет для навигационных ссылок */
}

.nav-link.active {
    color: #cf142b; /* Красный цвет для активной ссылки */
}

main {
    background-color: #ffffff; /* Белый фон для основного содержимого */
    color: #00247d; /* Темно-синий текст */
}